@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
	--background: var(--color-zinc-50);
	--foreground: var(--color-zinc-900);
	--accent: var(--color-amber-300);

	--muted: var(--color-zinc-700);
	--muted-foreground: var(--color-zinc-500);
}

.dark {
	--background: var(--color-zinc-800);
	--foreground: var(--color-zinc-400);
	--accent: var(--color-amber-300);

	--muted: var(--color-zinc-700);
	--muted-foreground: var(--color-zinc-500);

	@apply bg-gray-900 text-white;

	@variants dark {
		@apply bg-gray-900 text-white;
	}
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);

	--color-sunset: oklch(0.7151 0.1785 27.97);

	--color-brand: var(--color-emerald-500);

	--color-primary: oklch(0.9356 0.0309 17.72);
	--color-secondary: oklch(0.4546 0.1713 13.7);
	--color-accent-fg: oklch(0.2659 0.0762 36.26);
	--color-accent-bg: oklch(0.9563 0.0443 203.39);

	--color-onlight-text: var(--color-zinc-300);
	--color-ondark-text: var(--color-zinc-400);

	--color-success: var(--color-green-500);
	--color-warning: var(--color-orange-500);
	--color-error: var(--color--500);

	--font-sans: "Inter", sans-serif;
	--font-mono: "Fira Code", monospace;
}

/* Dark mode */
@layer theme {
	@media (prefers-color-scheme: dark) {
		:root {
			--color-fill-ground: var(--color-black);
		}
	}
}

/* Custom scroll bar for reading  */
@layer base {
	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-track {
		background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--color-foreground);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: var(--color-accent);
	}
}

/** Theme Switch Transition */
::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}
::vertical-view-transition-old(root) {
	z-index: var(--z-old);
}
::vertical-view-transition-new(root) {
	z-index: var(--z-new);
}
